/android/.externalNativeBuild/
/android/.gradle/
/android/android.debug.keystore
/android/build/
/tags
.ccls-cache
.gradle
src/.ccls-cache
thirdparty/libjpeg-turbo/arm64-v8a/
thirdparty/libjpeg-turbo/armeabi-v7a/
